@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Outfit', sans-serif;
    
    --color-amra-primary: #0bc1b2;
    --color-amra-secondary: #10B981;
    --color-amra-dark: #0F172A;
    --color-amra-light: #F8FAFC;
}
